[Unit]
Description=ClamAV antivirus daemon
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/clamd -c /etc/clamd.conf
User={{ clam_user }}
Group={{ clam_group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
