map $upstream_http_content_type $is_cacheable {
  default                             0;
  ~image/                             1;
  ~audio/                             1;
  ~video/                             1;
  text/css                            1;
  application/javascript              1;
  application/x-javascript            1;
  application/pdf                     1;
  application/font-sfnt               1;
  font/ttf                            1;
  font/opentype                       1;
  application/font-woff               1;
  application/vnd.ms-fontobject       1;
  application/vnd.ms-opentype         1;
}
