KSM_SLEEP_MSEC={{ pve_ksm_sleep_msec }}
KSM_THRES_COEF={{ pve_ksm_thres_coef }}
KSM_THRES_CONST={{ pve_ksm_thres_const }}
KSM_NPAGES_BOOST={{ pve_ksm_npages_boost }}
KSM_NPAGES_DECAY=-200
KSM_NPAGES_MAX=4800
