[defaults]
remote_user      = ansible
private_key_file = ssh/id_rsa
ansible_managed  = Managed by ansible, manual modifications will be lost
ask_vault_pass   = True
remote_tmp       = /tmp/.ansible-${USER}/tmp
timeout          = 30

[privilege_escalation]
become=True

[ssh_connection]
ssh_args = -F ssh/config
control_path = /tmp/ans-ssh-%%C
pipelining = True
