# skip messages with one or more of these headers
fns_ignore_headers List-Id List-Post Mailing-List X-Forwarded-For

# Does the From:name look like an email address
header   __PLUGIN_FROMNAME_EMAIL eval:check_fromname_contains_email()

# Is the From:name differen to the from header
header   __PLUGIN_FROMNAME_DIFFERENT eval:check_fromname_different()

# From:name owners differ
header   __PLUGIN_FROMNAME_OWNERS_DIFFER eval:check_fromname_owners_differ()

# From:name domain differs to from header
header   __PLUGIN_FROMNAME_DOMAIN_DIFFER eval:check_fromname_domain_differ()

# From:name and From:address don't match and owners differ
header   __PLUGIN_FROMNAME_SPOOF eval:check_fromname_spoof()

# From:name address matches To:address
header   __PLUGIN_FROMNAME_EQUALS_TO eval:check_fromname_equals_to()

meta     FROMNAME_SPOOF  (__PLUGIN_FROMNAME_SPOOF)
describe FROMNAME_SPOOF From:name doesn't match From:address
score    FROMNAME_SPOOF 1

meta     FROMNAME_SPOOF_EQUALS_TO  (FROMNAME_SPOOF && __PLUGIN_FROMNAME_EQUALS_TO)
describe FROMNAME_SPOOF_EQUALS_TO From:name is spoof to look like To: address
score    FROMNAME_SPOOF_EQUALS_TO 1

meta     FROMNAME_EQUALS_TO (!FROMNAME_SPOOF && __PLUGIN_FROMNAME_EQUALS_TO)
describe FROMNAME_EQUALS_TO From:name matches To: address
score    FROMNAME_EQUALS_TO 0.01

meta     FROMNAME_SPOOF_FREEMAIL (FREEMAIL_FROM && FROMNAME_SPOOF)
describe FROMNAME_SPOOF_FREEMAIL From:name spoof and Freemail From:address
score    FROMNAME_SPOOF_FREEMAIL 2.0
