class: OpenXPKI::Server::Workflow::Validator::PasswordQuality
arg:
 - $_password
param:
  checks:
    - length
{% if item.0.passwd_quality is string %}
{% if item.0.passwd_quality == 'none' %}
  minlen: 1
  maxlen: 64
{% elif item.0.passwd_quality == 'normal' %}
    - entropy
  min_entropy: 20
  minlen: 6
  maxlen: 64
{% elif item.0.passwd_quality == 'strong' %}
    - entropy
  min_entropy: 60
  minlen: 10
  maxlen: 64
{% endif %}
{% endif %}
