AVDOMAIN="{{ zcs_main_domain }}"
AVUSER="admin@{{ zcs_main_domain }}"
CREATEADMIN="admin@{{ zcs_main_domain }}"
CREATEADMINPASS="zimbraadmin"
CREATEDOMAIN="{{ zcs_main_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
EXPANDMENU="no"
HOSTNAME="{{ inventory_hostname }}"
HTTPPORT="8080"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPBESSEARCHSET="set"
LDAPHOST="{{ zcs_primary_ldap }}"
LDAPPORT="389"
LDAPREPLICATIONTYPE="{{ zcs_i_am_primary_ldap | ternary('master','salve') }}"
LDAPSERVERID="2"
MAILBOXDMEMORY="{{ (ansible_memtotal_mb * 0.25) | int }}"
MAILPROXY="TRUE"
MODE="redirect"
MYSQLMEMORYPERCENT="30"
POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"
PROXYMODE="redirect"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="{{ (zcs_run_av == True) | ternary('yes','no') }}"
RUNCBPOLICYD="{{ (zcs_run_cbpolicyd == True) | ternary('yes','no') }}"
RUNDKIM="{{ (zcs_run_dkim == True) | ternary('yes','no') }}"
RUNSA="{{ (zcs_run_sa == True) | ternary('yes','no') }}"
RUNVMHA="no"
SERVICEWEBAPP="yes"
SMTPDEST="admin@{{ zcs_main_domain }}"
SMTPHOST="{{ inventory_hostname }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ zcs_main_domain }}"
SNMPNOTIFY="{{ ('snmp' in zcs_components) | ternary('yes','no') }}"
SNMPTRAPHOST="{{ inventory_hostname }}"
SPELLURL="http://{{ inventory_hostname }}:7780/aspell.php"
STARTSERVERS="yes"
STRICTSERVERNAMEENABLED="TRUE"
TRAINSAHAM="ham.{{ ('ham' | password_hash('sha256', 65534 | random(seed=zcs_main_domain) | string))[9:17] }}@{{ zcs_main_domain }}"
TRAINSASPAM="spam.{{ ('spam' | password_hash('sha256', 65534 | random(seed=zcs_main_domain) | string))[9:17] }}@{{ zcs_main_domain }}"
UIWEBAPPS="yes"
UPGRADE="yes"
USEEPHEMERALSTORE="no"
USESPELL="{{ ('spell' in zcs_components) | ternary('yes','no') }}"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine.{{ ('virus' | password_hash('sha256', 65534 | random(seed=zcs_main_domain) | string))[9:17] }}@{{ zcs_main_domain }}"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="{{ ('bes_searcher' | password_hash('sha256', 65534 | random(seed=zcs_main_domain) | string))[9:22] }}"
ldap_dit_base_dn_config="cn=zimbra"
ldap_nginx_password="{{ ('nginx' | password_hash('sha256', 65534 | random(seed=zcs_main_domain) | string))[9:22] }}"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/mailboxd/etc/keystore"
mailboxd_keystore_password="{{ ('keystore' | password_hash('sha256', 65534 | random(seed=zcs_main_domain) | string))[9:22] }}"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMailProxy="{{ ('proxy' in zcs_components) | ternary('TRUE','FALSE') }}"
zimbraMtaMyNetworks="127.0.0.0/8"
zimbraPrefTimeZoneId="{{ system_tz | default('Europe/Paris') }}"
zimbraReverseProxyLookupTarget="TRUE"
zimbraVersionCheckNotificationEmail="admin@{{ zcs_main_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ zcs_main_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraWebProxy="{{ ('proxy' in zcs_components) | ternary('TRUE','FALSE') }}"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core {{ zcs_components | map('regex_replace', '^(.*)$', 'zimbra-\\1') | join(' ') }} "
