{% if item.protocols.rsync.enabled and item.protocols.rsync.users is defined and item.protocols.rsync.users.keys() | list | length > 0 %}
{% for user in item.protocols.rsync.users.keys() | list %}
{{ user }}:{{ item.protocols.rsync.users[user] }}
{% endfor %}
{% endif %}

