[postgresql-client]
baseurl = https://download.postgresql.org/pub/repos/yum/14/redhat/rhel-$releasever-$basearch
gpgcheck = 1
gpgkey = https://download.postgresql.org/pub/repos/yum/RPM-GPG-KEY-PGDG-14
name = PostgreSQL Client
includepkgs = postgresql14 postgresql14-libs
{% if ansible_os_family == 'RedHat' and ansible_distribution_major_version is version('8', '>=') %}
# Workaround a bug in dnf which would make the default module mask packages from postgres repo
module_hotfixes = true
{% endif %}
