[database]
DATABASE_USER: {{ bounca_db_user }}
DATABASE_PASSWORD: {{ bounca_db_pass }}
DATABASE_HOST: {{ bounca_db_server }}
DATABASE_NAME: {{ bounca_db_name }}

[secrets]
SECRET_KEY: {{ bounca_secret_key }}

[email]
EMAIL_HOST: localhost
ADMIN_MAIL: {{ bounca_admin_mail }}
FROM_MAIL: {{ bounca_from_mail }}

