[remi-modular]
baseurl = http://rpms.remirepo.net/enterprise/$releasever/modular/$basearch/
gpgcheck = 1
gpgkey = {{ repo_remi_gpg_url }}
name = Remi's Modular repository for Enterprise Linux
module_hotfixes = true
