[Unit]
Description=Seafile
After=network.target mariadb.service

[Service]
Type=forking
Environment=PATH={{ seafile_root_dir }}/bin:/bin:/usr/bin
Environment=PYTHONPATH={{ seafile_root_dir }}/lib64/python3.6/site-packages/
Environment=PYTHON={{ seafile_root_dir }}/bin/python
ExecStart={{ seafile_root_dir }}/seafile-server/seafile.sh start
ExecStop={{ seafile_root_dir }}/seafile-server/seafile.sh stop
User={{ seafile_user }}
Group={{ seafile_group }}
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes
SyslogIdentifier=seafile
StartLimitInterval=0
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
