<?php
class DB extends DBmysql {
  var $dbhost    = '{{ glpi_mysql_server }}';
  var $dbuser    = '{{ glpi_mysql_user }}';
  var $dbpassword= '{{ glpi_mysql_pass }}';
  var $dbdefault = '{{ glpi_mysql_db }}';
}
?>
