<?php

define("GLPI_VAR_DIR", "{{ glpi_root_dir }}/data");
define("GLPI_DOC_DIR", GLPI_VAR_DIR . "/_files");
define("GLPI_SESSION_DIR", "{{ glpi_root_dir }}/sessions");
define("GLPI_TMP_DIR", "{{ glpi_root_dir }}/tmp");
define("GLPI_UPLOAD_DIR", "{{ glpi_root_dir }}/tmp");

?>
