{% if riot_web_alias is defined %}
Alias /{{ riot_web_alias }} {{ riot_root_dir }}/web
{% else %}
# No alias defined, create a vhost to access it
{% endif %}
<Directory {{ riot_root_dir }}/web>
  AllowOverride None
  Options None
{% if riot_allowed_ip is defined %}
  Require ip {{ riot_allowed_ip | join(' ') }}
{% else %}
  Require all granted
{% endif %}
</Directory>
