[Unit]
Description=Paperemerge web service
After=postgresql.service
Requires=papermerge-worker.service

[Service]
WorkingDirectory={{ papermerge_root_dir }}/app
Environment=DJANGO_SETTINGS_MODULE=config.settings.production
ExecStart={{ papermerge_root_dir }}/venv/bin/gunicorn config.wsgi:application --config {{ papermerge_root_dir }}/app/gunicorn.conf.py
User={{ papermerge_user }}
Group={{ papermerge_user }}
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes
MemoryLimit=1024M
Restart=on-failure
StartLimitInterval=0
RestartSec=30

[Install]
WantedBy=multi-user.target
