[options]
db_name = {{ odoo_db_name }}
db_host = {{ odoo_db_server }}
db_user = {{ odoo_db_user }}
db_password = {{ odoo_db_pass }}
addons_path = {{ odoo_root_dir }}/app/odoo/addons
workers = {{ odoo_workers }}
http_port = {{ odoo_xmlrpc_port }}
longpolling_port = {{ odoo_longpolling_port }}
email_from = {{ odoo_email }}
smtp_server = localhost
