RewriteEngine On
RewriteCond   %{HTTPS}         =off
RewriteCond   %{REQUEST_URI}   !^/.well-known/acme-challenge/.*
RewriteRule   ^/(.*)$          https://%{HTTP_HOST}/$1 [R=301,L,NE,E=NOCACHE:1]
Header always set Cache-Control "no-store, no-cache, must-revalidate" env=NOCACHE
