Alias /_deferror/ "/usr/share/httpd/error/"

<Directory "/usr/share/httpd/error">
    AllowOverride None
    Options IncludesNoExec
    AddOutputFilter Includes html
    AddHandler type-map var
    Require all granted
    LanguagePriority en cs de es fr it ja ko nl pl pt-br ro sv tr
    ForceLanguagePriority Prefer Fallback
</Directory>

ErrorDocument 400 /_deferror/HTTP_BAD_REQUEST.html.var
ErrorDocument 401 /_deferror/HTTP_UNAUTHORIZED.html.var
ErrorDocument 403 /_deferror/HTTP_FORBIDDEN.html.var
ErrorDocument 404 /_deferror/HTTP_NOT_FOUND.html.var
ErrorDocument 405 /_deferror/HTTP_METHOD_NOT_ALLOWED.html.var
ErrorDocument 408 /_deferror/HTTP_REQUEST_TIME_OUT.html.var
ErrorDocument 410 /_deferror/HTTP_GONE.html.var
ErrorDocument 411 /_deferror/HTTP_LENGTH_REQUIRED.html.var
ErrorDocument 412 /_deferror/HTTP_PRECONDITION_FAILED.html.var
ErrorDocument 413 /_deferror/HTTP_REQUEST_ENTITY_TOO_LARGE.html.var
ErrorDocument 414 /_deferror/HTTP_REQUEST_URI_TOO_LARGE.html.var
ErrorDocument 415 /_deferror/HTTP_UNSUPPORTED_MEDIA_TYPE.html.var
ErrorDocument 500 /_deferror/HTTP_INTERNAL_SERVER_ERROR.html.var
ErrorDocument 501 /_deferror/HTTP_NOT_IMPLEMENTED.html.var
ErrorDocument 502 /_deferror/HTTP_BAD_GATEWAY.html.var
ErrorDocument 503 /_deferror/HTTP_SERVICE_UNAVAILABLE.html.var
ErrorDocument 506 /_deferror/HTTP_VARIANT_ALSO_VARIES.html.var

